.introduction__section {
    width: 100%;
    height: 80vh;
    background: black;
    margin: 0 0;
    padding: 0;
    color: white;
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
}

.introduction__banner {
    position: absolute;
    z-index: -5;
    width: 100%;
    height: 100%;
    background: url(../../img/cat.jpg);
    background-position: left 300px top 10%;
    background-size: cover;
    background-repeat: no-repeat;
}

.introduction__content {
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
}

.introduction__title {
    font-size: 4rem;
    padding: 1rem 0;
}

.introduction__btn {
    font-size: 1.25rem;
    font-weight: 700;
    padding: 0.5rem 1rem;
    margin-right: 1rem;
    cursor: pointer;
    background: var(--light-brown);
    color: white;
    border: 1px solid var(--light-brown);;
}

.introduction__btn:hover {
    background: white;
    color: var(--light-brown);
}

/*-> Responsividade: */
@media (max-width: 850px) {
   .introduction__banner {
      display: none;
   }   
}