.manager-api__box form {
    width: 80%;
    margin: 4.5rem auto;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.manager-api__ipt-url-predefined {
    width: 26%;
    max-height: 32px;
    background: #f2f2f2;
    padding: 0.5rem;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
}

.manager-api__input {
    width: 50%;
    max-height: 32px;
    padding: 0.5rem;
    outline: none;
}

.manager-api__type-request {
    width: 9%;
    max-height: 32px;
    padding: 0.5rem;
    margin: 0 0.5rem;
    outline: 0 !important;
}

.manager-api__submit {
    width: 9%;
    max-height: 32px;
    padding: 0.4rem;
    background: #94F2B5;
    color: white;
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
    border-radius: 4px;
}

.manager-api__submit:hover {
    background: #77d699;
}

.manager-api__request-fields {
    width: calc(50% + 0.5rem);
       /*para que esse elemento tenha a mesma largura que o ".manager-api__input" é preciso fazer esse calculo, pois o elemento ".manage-api__input" tem um pading de 0.5rem*/
    display: none;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    margin: 0.5rem 0 0 26%;
}

.manager-api__request-fields input {
    width: calc(50% - 0.5rem);
    padding: 0.5rem;
    margin: 0.5rem 0.5rem 0.5rem 0;
}

.manager-api__select-user {
    display: none;
    width: 50%;
    margin: 1rem 0 0 26%;
    padding: 0.5rem;
    outline: 0;
}