.res__box {
    width: 80%;
    height: 30rem;
    /* padding: 0.5rem; */
    margin: 3rem auto;
    background: white;
    border-radius: 2px;
    overflow-y: auto;
    scrollbar-width: thin;
}

.res__box::-webkit-scrollbar {
    width: 10px;
}
