.view-raw__link {
    display: block;
    width: 10%;
    text-decoration: none; 
    color: white;
    background: #BF7A24;
    border: 1px solid #BF7A24;
    border-radius: 2px;
    padding: 0.5rem 1rem;
    margin: 1rem auto;
    text-align: center;
}

.view-raw__link:hover {
    background: white;
    color: #BF7A24;
}