.navbar {
    width: 100%;
    background: transparent;
    padding: 2rem 1rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    transition: background 0.5s ease;
}

.navbar__list {
    display: flex;
    align-items: center;
    list-style-type: none;
}

.navbar__list a {
    color: white;
    text-decoration: none;
}


.navbar__list .navbar__item {
    font-size: 1.5rem;
    letter-spacing: 0.25rem;
    margin: 0 0.25rem;
    cursor: pointer;

    /*declarações para alinhar os pseudoelementos: */
    position: relative;
    display: flex;
    justify-content: center;
} 

.navbar__item i:hover {
    opacity: 0.75;
}

/*

Esse código não está sendo usado, mas deixei comentado, pois é um efeito de hover simples, mas bem daora. Talvez eu use futuramente, por isso não quis decartá-lo.

.navbar__list .navbar__item::before,
.navbar__list .navbar__item::after {
    content: '';
    width: 0;
    height: 3px;
    background: white;
    position: absolute;
    bottom: 0;
    transition: width .2s ease-out
}

.navbar__list .navbar__item:hover::before,
.navbar__list .navbar__item:hover::after {
    width: 100%;
} 
*/