{% extends 'base.html' %}

{% block content %}  
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">   
<link rel="stylesheet" href="{{ url_for('static', filename='css/api_manager/introduction_section.css') }}">   
<link rel="stylesheet" href="{{ url_for ('static', filename='css/api_manager/manager-api_box.css') }}">
<link rel="stylesheet" href="{{ url_for ('static', filename='css/api_manager/res_box.css') }}">
<link rel="stylesheet" href="{{ url_for ('static', filename='css/api_manager/view-raw_link.css') }}">
<link rel="stylesheet" href="{{ url_for ('static', filename='css/guide/guide.css') }}">
<link rel="stylesheet" href="{{ url_for ('static', filename='css/guide/instructions.css') }}">
  <section class="introduction__section">
     <div class="introduction__banner"></div>
     <div class="introduction__content">
         <h1 class="introduction__title">NiceeApi</h1>
         <button class="introduction__btn itd__btn-guide">Guide</button>
     </div>
     <a href="https://www.pexels.com/photo/brown-tabby-cat-sitting-on-brown-wooden-stool-3885948/" class="introduction__credits-link" target="blank">Photo by Anderson Martins</a>
  </section>

  <section class="guide__section">
     {% include 'guide.html' %}
  </section>

  <div class="manager-api__box">
      <form action="/api/v1/get" autocomplete="off" class="manager-api__form" method="post">
         <div class="manager-api__ipt-search-box">
            <select name="url" class="manager-api__route-select">
               <option value="https://niceeapi.herokuapp.com/api/v1/get">https://niceeapi.herokuapp.com/api/v1/get</option>
               <option value="https://niceeapi.herokuapp.com/api/v1/post">https://niceeapi.herokuapp.com/api/v1/post</option>
               <option value="https://niceeapi.herokuapp.com/api/v1/put">https://niceeapi.herokuapp.com/api/v1/put</option>
               <option value="https://niceeapi.herokuapp.com/api/v1/delete">https://niceeapi.herokuapp.com/api/v1/delete</option>
            </select>
     

            <input type="hidden" name="requestMadeBySite" value="1">
               <!--Esse input 'requestMadeBySite' serve para a rota no backend saber se a requisição foi feita pelo site ou pelo código-->
         </div>


          <div class="manager-api__request-fields">
             <input type="text" class="name" placeholder="name..." name="name" pattern=".*\S+.*" >
             <input type="text" class="email" placeholder="email..." name="email" pattern=".*\S+.*" >
               <!--Esse patern evita que o input seja validado com espaços em brancos. No caso o campo recebe o atributo required por js, então isso faz com que, se o usuário preencher com espaços em brancos, o input ainda seja requirido.-->
          </div>

          <select class="manager-api__user-select" name="selected-user">
              <!--esse select será para o usuário selecionar o usuário para deletá-lo ou exclui-lo-->
              {% if users %}
              {% for user in users %}
                 <option class="manager-api__user-option">{{ user['email'] }}</option>
              {% endfor %}
              {% endif %}
          </select>
         <div class="manager-api__submit-box">
            <input type="submit" class="manager-api__submit" value="submit">
         </div>
      </form>
  </div>

  {% if users: %}
      <!--Resultado da requisição: -->
      <div class="res__box">
         {% if users[0]['email'] %}
            <!--Essa comparação serve para verificar se o res_json contém dados de usuários (ele pode conter dado de requisição também)-->
            {% for user in users %}
               <pre>
               {{ user }} 
               </pre>
            {% endfor %}
         {% endif %}
      </div>
      <div class="manager-api__raw-link-box">
         <a target="blank" href="{{ url_for('api_v1.usuarios') }}" class="manager-api__raw-link">raw</a>
      </div>
  {% endif %}

  <script src="{{ url_for('static', filename='js/api_manager/typeRequest.js') }}"></script>
  <script src="{{ url_for('static', filename='js/api_manager/handleUsersData.js') }}"></script>
  <script src="{{ url_for('static', filename='js/guide/ToggleGuideDisplay.js') }}"></script>
  <script src="{{ url_for('static', filename='js/guide/ToggleInstructionsDisplay.js') }}"></script>

  {% if request_detail != "" and request_detail != None and request_detail|length != 0 %}
     <script>
         const pageAccessedByReload = (
         (window.performance.navigation && window.performance.navigation.type === 1) ||
            window.performance
               .getEntriesByType('navigation')
               .map((nav) => nav.type)
               .includes('reload')
         );
         /*pageAcessedByReload é uma variável que retorna true se:
             window.perfomance.navigation existir e o seu tipo for true. 
               basicamente, o window.perfomance.navigation.type retorna uma propriedade (q é ma constante), informando como a navegação na página foi feita
                  0: TYPE_NAVIGATE (acessed by link, form submission, script, etc)
                  1: TYPE_RELOAD
                  ... 
               É importante ressaltar que esse comando está 'deprecated', mas ainda usei, pois a constante usa esse método e mais um. Então há duas formas de verificar isso.
            A segunda forma é: 
               Se window.performance incluir reload, retorna true. Note que isso é feito usando os métodos: getEntriesByType, que retorna uma lista de objetos de PerformanceEntry. Esse qual contém: PerformanceEntry.name, PerformanceEntry.entryType, PerformanceEntry.startTime e PerformanceEntry.duration. Enfim, basicamente, se chama o método getEntriesByType, passando como parâmetros navigation. 
            
         */

         if (!pageAccessedByReload) {
            //Exibe o detalhe do request apenas se o usuário foi redirecionado para essa rota. Ou seja, é preciso haver put, post ou delete para isso acontecer. Assim, se evitar o request_detail seja exibido quando o usuário recarregar a página.
            alert("{{ request_detail }}")
         }
     </script>
  {% endif %}

{% endblock %}