{% block content %}  
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">   
<link rel="stylesheet" href="{{ url_for ('static', filename='css/api_manager/api_info.css') }}">
<link rel="stylesheet" href="{{ url_for ('static', filename='css/api_manager/manager-api_box.css') }}">
<link rel="stylesheet" href="{{ url_for ('static', filename='css/api_manager/res_box.css') }}">
<link rel="stylesheet" href="{{ url_for ('static', filename='css/api_manager/view-raw_link.css') }}">

  <header class="header">
    
  </header>

  <div class="api__info-helper">
     <h2 class="info-helper__title">Try it now! </h2>
     <p class=info-helper__description>Para fazer requisições use a caixa de busca abaixo. Nela, você poderá fazer os quatros tipos de requisições: GET, POST, PUT e DELETE. Porém, para fazer put e delete, você necessitará de uma permissão concedida pelo administrador do site. </p>
     
     <div class="info-helper__hints">
        <p>Rotas para fazer as requisições:</p>
        <ul>
            <li>&nbspGet: usuarios</li>
            <li>&nbspPost: create_user</li>
        </ul>
     </div>
  </div>

  <div class="manager-api__box">
      <form action="{{ url_for('api_v1.main') }}">
          <label for="url" class="manager-api__ipt-url-predefined" name="default-url">
            https://niceeapi.herokuapp.com/api/v1
          </label>
          <input type="text" class="manager-api__input" id="url" name="url">
          <select class=manager-api__type-request name="type-request">
            <option>GET</option>
            <option>POST</option>
            <option>PUT</option>
            <option>DELETE</option>
          </select>
          <input type="submit" class="manager-api__submit" value="submit">

          <div class="manager-api__type-request-fields">
             <h3>Campos obrigatórios </h3>
             <input type="text" class="name" placeholder="name..." name="name">
             <input type="text" class="cpf" placeholder="cpf..." name="cpf">
             <input type="text" class="email" placeholder="email..." name="email">
             <input type="text" class="email" placeholder="password..." name="password">
          </div>
      </form>
  </div>

  {% if res: %}
       <!--Resultado da requisição: -->
      <div class="res__box">
         {% set res_json = res.json() %}
         {% for user in res_json %}
            {{ user }} <br>
         {% endfor %}
      </div>
      <a href="{{ url_for('api_v1.usuarios') }}" class="view-raw__link" target="blank">View Raw</a>
  {% endif %}

  <script src="{{ url_for('static', filename='js/api_manager/type-request.js') }}"></script>
{% endblock %}