{% extends 'base.html' %}

{% block content %}  
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">   
<link rel="stylesheet" href="{{ url_for('static', filename='css/api_manager/introduction_section.css') }}">   
<link rel="stylesheet" href="{{ url_for ('static', filename='css/api_manager/manager-api_box.css') }}">
<link rel="stylesheet" href="{{ url_for ('static', filename='css/api_manager/res_box.css') }}">
<link rel="stylesheet" href="{{ url_for ('static', filename='css/api_manager/view-raw_link.css') }}">
<link rel="stylesheet" href="{{ url_for ('static', filename='css/guide/guide.css') }}">
<link rel="stylesheet" href="{{ url_for ('static', filename='css/guide/api_info.css') }}">
  <!-- <section class="top__section">
      <div class="api__info-helper">
         <h2 class="info-helper__title">Try it now! </h2>
         <p class=info-helper__description>Para fazer requisições, use a caixa de busca abaixo. Nela, você poderá fazer os quatros tipos de requisições: GET, POST, PUT e DELETE. </p>
         
         <div class="info-helper__hints">
            <p>Rotas para fazer as requisições:</p>
            <ul>
                  <li>&nbspGet: usuarios</li>
                  <li>&nbspPost: create_user</li>
                  <li>&nbspPut e Delete: não precisa de rota, basta preencher os campos (no caso do put) e selecionar o usuário (é preciso fazer um get antes de tentar fazer put ou delete, para se obter os dados) </li>
            </ul>
         </div>
      </div>
  </section> -->

  <section class="introduction__section">
     <div class="introduction__content">
         <h1 class="introduction__title">NiceeApi</h1>
         <button class="introduction__btn itd__btn-explore">Explore</button>
         <button class="introduction__btn itd__btn-guide">Guide</button>
     </div>
  </section>

  <section class="guide__section">
     {% include 'guide.html' %}
  </section>

  <div class="manager-api__box">
      <form action="{{ url_for('api_v1.main') }}">
          <label for="url" class="manager-api__ipt-url-predefined" name="default-url">
            https://niceeapi.herokuapp.com/api/v1
          </label>
          <input type="text" class="manager-api__input" id="url" name="url">
          <select class="manager-api__type-request" name="type-request">
            <option>GET</option>
            <option>POST</option>
            <option>PUT</option>
            <option>DELETE</option>
          </select>
          <input type="submit" class="manager-api__submit" value="submit">

          <div class="manager-api__request-fields">
             <input type="text" class="name" placeholder="name..." name="name">
             <input type="text" class="email" placeholder="email..." name="email">
             <input type="text" class="email" placeholder="password..." name="password">
          </div>
   
          <select class="manager-api__select-user" name="selected-user" title="é preciso fazer um GET antes para que se obtenha os dados dos usuários">
              <!--esse select será para o usuário selecionar o usuário para deletá-lo ou exclui-lo-->
                 <option selected>Selecione um usuário para alterá-lo ou deletá-lo</option>
              {% for user in res_json %}
                 <option>{{ user['email'] }}</option>
              {% endfor %}
          </select>
      </form>
  </div>

  {% if res_json: %}
       <!--Resultado da requisição: -->
      <div class="res__box">
         {% if res_json[0]['cpf'] %}
            <!--Essa comparação serve para verificar se o res_json contém dados de usuários (ele pode conter dado de requisição também)-->
            {% for user in res_json %}
               <pre>
               {{ user }} 
               </pre>
            {% endfor %}
         {% else %}
            <!--esse else exibe o request_detail-->  
            <p> {{ res_json }}</p>
         {% endif %}
      </div>
      <a href="{{ url_for('api_v1.usuarios') }}" class="view-raw__link" target="blank">View Raw</a>
  {% endif %}

  <script src="{{ url_for('static', filename='js/api_manager/type-request.js') }}"></script>
  <script src="{{ url_for('static', filename='js/guide/ToggleGuideDisplay.js') }}"></script>
{% endblock %}