<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>API - Devlopment </title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/navbar/navbar.css') }}">
</head>
<body>
    {% include 'navbar.html' %}
    {% block content %} {% endblock %}
    <script src=" {{ url_for('static', filename='js/navbar/navbar-scroll-effect.js') }}"></script>
    <script src=" {{ url_for('static', filename='js/navbar/open-profile.js') }}"></script>

    {% if status %} 
       <!--status é a variável que informa ao usuário se seu cadastro foi um sucesso ou não-->
       <script>
          //esse alert precisa ser colocado aqui no base.html mesmo, porque as outras páginas são blocos de elementos do jinja2 (ou seja o script ficaria no meio da página, no meio do conteúdo)
         if ("{{ status }}" == "error") {
             alert("Email is already registered")
         } else {
             alert("Account created! ")
         }
       </script>

       <!--Aparentemente não é possível declarar variável no jinja2 depois da tag <script> aaaaaaaaaa :c-->
    {% endif %}
</body>
</html>