<button class="guide__close-btn">
   <i class="fa-solid fa-xmark fa-2xl"></i>
</button>  

<div class="guide__instructions-box">
    <h1 class="guide__intructions-title python-title">Python</h1>
    <div class="instructions__code-boxes">
        <div class="instructions__code-box">
            <pre class="instructions__code get-request">
import requests 

url = f"https://niceeapi.herokuapp.com/api/v1/"

def get_data(): 
    res = requests.get(url+"/get").json()
    return res

print(get_data())
            </pre>

            <pre class="instructions__code post-request">
import requests 

url = f"https://niceeapi.herokuapp.com/api/v1/"

def post_data():
    res = requests.post(url+"/post?name=teste2&email=teste2@gmail.com")
    return print(res.json(), res.status_code)
            
post_data()
            </pre>

            <pre class="instructions__code put-request">
import requests 

url = f"https://niceeapi.herokuapp.com/api/v1/"

def put_data():
    res = requests.put(url+"/put?
                            newUserName=testeUpdate&
                            newUserEmail=testeUpdate@gmail.com&
                            userToBeAltered=teste@gmail.com")
    return print(res.json(), res.status_code)

put_data()
            </pre>
            <pre class="instructions__code delete-request">
import requests 

url = f"https://niceeapi.herokuapp.com/api/v1/"
                
def delete_data():
    res = requests.delete(url+"/delete?email=teste4@gmail.com")
    return print(res.json(), res.status_code)

delete_data()
             </pre>
            <div class="instructions__button-box">
                <button class="instructions__button instructions__button--active">GET</button>
                <button class="instructions__button">POST</button>
                <button class="instructions__button">PUT</button>
                <button class="instructions__button">DELETE</button>
            </div>
        </div>
    </div>
</div>
